/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "klor_common.dtsi"
#include <physical_layouts.dtsi>

/ {
	chosen {
		zmk,physical-layout = &klor_layout;
	};

	default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <10>;
		rows = <4>;
		map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)		 RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
		RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)		 RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
		RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) 	 RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)
                        RC(3,2) RC(3,3) RC(3,4) 	 RC(3,5) RC(3,6) RC(3,7)
		>;
	};

	klor_layout: klor_layout {
		compatible = "zmk,physical-layout";
		display-name = "KLOR";
		transform = <&default_transform>;
		kscan = <&kscan0>;
keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  131 (-1000)     0   131>
            , <&key_physical_attrs 100 100  115   55  (-400)   115    55>
            , <&key_physical_attrs 100 100  229    0       0     0     0>
            , <&key_physical_attrs 100 100  329   47       0     0     0>
            , <&key_physical_attrs 100 100  429   63       0     0     0>
            , <&key_physical_attrs 100 100  776   63       0     0     0>
            , <&key_physical_attrs 100 100  876   47       0     0     0>
            , <&key_physical_attrs 100 100  976    0       0     0     0>
            , <&key_physical_attrs 100 100 1090   55     400  1090    55>
            , <&key_physical_attrs 100 100 1205  131    1000  1205   131>
    
            , <&key_physical_attrs 100 100   17  229 (-1000)    17   229>
            , <&key_physical_attrs 100 100  122  154  (-400)   122   154>
            , <&key_physical_attrs 100 100  229  100       0     0     0>
            , <&key_physical_attrs 100 100  329  147       0     0     0>
            , <&key_physical_attrs 100 100  429  163       0     0     0>
            , <&key_physical_attrs 100 100  776  163       0     0     0>
            , <&key_physical_attrs 100 100  876  147       0     0     0>
            , <&key_physical_attrs 100 100  976  100       0     0     0>
            , <&key_physical_attrs 100 100 1083  154     400  1083   154>
            , <&key_physical_attrs 100 100 1187  229    1000  1187   229>
    
            , <&key_physical_attrs 100 100   35  328 (-1000)    35   328>
            , <&key_physical_attrs 100 100  129  254  (-400)   129   254>
            , <&key_physical_attrs 100 100  229  200       0     0     0>
            , <&key_physical_attrs 100 100  329  247       0     0     0>
            , <&key_physical_attrs 100 100  429  263       0     0     0>
            , <&key_physical_attrs 100 100  776  263       0     0     0>
            , <&key_physical_attrs 100 100  876  247       0     0     0>
            , <&key_physical_attrs 100 100  976  200       0     0     0>
            , <&key_physical_attrs 100 100 1076  254     400  1076   254>
            , <&key_physical_attrs 100 100 1170  328    1000  1170   328>
    
            , <&key_physical_attrs 100 100  313  362       0     0     0>
            , <&key_physical_attrs 100 100  436  368    1500   436   368>
            , <&key_physical_attrs 100 100  554  405    3000   554   405>
            , <&key_physical_attrs 100 100  651  405 (-3000)   751   405>
            , <&key_physical_attrs 100 100  769  368 (-1500)   869   368>
            , <&key_physical_attrs 100 100  892  362       0     0     0>
            ;
	};
};

&kscan0 {
	row-gpios
		= <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};
