// boards/shields/klor/klor.dtsi

/ {
    // Define the kscan0 node HERE so it exists for overlays to modify
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row"; // Or "row2col" based on your wiring
        wakeup-source;
        
        // Define SHARED row-gpios here
        row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        // Do NOT define col-gpios here (leave it for overlays)
    };
};
